footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.menu-item {
    font-size: 250%;
    font-style: italic
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}

.no-underline-link {
    text-decoration: none;
}
