footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.menu-item {
    font-size: 250%;
    font-style: italic
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}

.no-underline-link {
    text-decoration: none;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
}

@media screen and (max-width: 736px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.grid>div {
  background-color: transparent;
  overflow: hidden;
}

.grid>div>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}

.grid>div>a>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;
}
